* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h2{
    cursor: pointer;
}

main{
    width: 100vw;
}

ul{
    display: grid;
    grid-auto-flow: column;
}

.smallPosters{
    width: 10rem;
    cursor: pointer;
}